<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <h2 class="text-lg">Resend confirmation instructions</h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="my-2">
    <%= render "shared/text_field", f: f, field: :email %>
  </div>

  <div>
    <%= f.submit "Resend confirmation instructions", class: "btn-primary" %>
  </div>
<% end %>
<div class="mt-2">
  <%= render "devise/shared/links" %>
</div>
