<% room_resources.each do |room_resource| %>
  <div class="px-4 py-2 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <h5><%= room_resource.resource.name %></h5>
    <div>
      <span class="font-bold"><%= room_resource.amount %></span>
      <%= form_with model: room_resource, html: { "data-controller" => "room-resource-form" } do |f| %>
        <div class="flex gap-2 items-center">
          <%= f.number_field :plus, 
            class: "bg-gray-50 w-20 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 flex justify-center p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", 
            "data-room-resource-form-target" => "plus_input"
          %>
          <button data-action="click->room-resource-form#plus" type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">+</button>
        </div>

        <p>New Value: 
          <span data-room-resource-form-target="new_value"><%= room_resource.amount %></span>
        </p>

        <div class="flex gap-2 items-center">
          <%= f.number_field :minus, 
            class: "bg-gray-50 w-20 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 flex justify-center p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
            "data-room-resource-form-target" => "minus_input"
          %>
          <button data-action="click->room-resource-form#minus" type="button" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">-</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
