<%= turbo_frame_tag room_resource do %>
  <%= link_to edit_room_resource_path(room_resource) do %>
    <%= render "shared/card" do %>
      <h5 class="font-bold tracking-tight text-gray-900 dark:text-white"><%= room_resource.resource.name %>: <%= room_resource.amount %></h5>
    <% end %>
  <% end %>
<% end %>
