<div id="<%= dom_id die %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= die.name %>
  </p>

  <div class="flex flex-wrap">
    <%= link_to "Faces", die_faces_path(die), class: "btn-light" %>
    
    <% if can? :manage, die %>
      <%= link_to "Edit this die", edit_die_path(die), class: "btn-light" %>
      <%= button_to 'Delete', die, method: :delete, class: "btn-red", form_class: "inline" %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
