<div id="<%= dom_id die %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= die.name %>
  </p>

  <div class="flex flex-wrap">
    <%= render LinkButtonComponent.new text: "Faces", href: die_faces_path(die) %>
    
    <% if can? :manage, die %>
      <%= render LinkButtonComponent.new text: 'Edit this die', href: edit_die_path(die) %>
      <%= render "shared/delete_button", text: "Delete", path: die %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
