<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @die %>
 
    <%= render "shared/link_button", text: 'Faces', path: die_faces_path(@die) %>
    <%= render "shared/link_button", text: 'Back to dice', path: game_dice_path(@die.game) %>
    <% if can? :manage, @die %>
      <%= render "shared/link_button", text: 'Edit this die', path: edit_die_path(@die) %>
      <div class="inline-block ml-2">
        <%= render "shared/delete_button", text: 'Destroy this die', path: die_path(@die) %>
      </div>
    <% end %>
  </div>
</div>
