<h3 class="mt-4 font-bold text-lg">
  Dice
</h3>
<div class="flex gap-2 flex-wrap">
  <% dice.each do |die| %>
    <div id="<%= die.id %>">
      <button 
        id="die-button-<%= die.id %>"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center cursor-pointer"
        data-dropdown-toggle="dropdown-dice-<%= die.id %>"
      >
        <%= die.name %>
        <svg 
          class="w-4 h-4 ml-2 inline" 
          aria-hidden="true" 
          fill="none" 
          stroke="currentColor" 
          viewBox="0 0 24 24" 
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <div id="dropdown-dice-<%= die.id %>" class="flex gap-2 flex-wrap hidden bg-slate-500 p-4 rounded-md">
        <% roll_options.each do |number| %>
          <%= button_to number, roll_dice_path(@room, die, number), method: :post, class: "text-gray-900 bg-white border border-gray-300 focus: outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
