<%= turbo_stream_from "room-#{@room.id}" %>


<h1>Playing <%= @room.game.name %></h1>
<div class="flex gap-2">
  <% if can? :manage, @room %>
    <%= link_to "Manage room", room_path(@room), class: "btn-light" %>
  <% end %>
  <%= render "shared/drawer", show_button_text: "Roll Log", drawer_id: "dice-rolls-drawer" do %>
    <div id="roll-log">
      <%= turbo_frame_tag "room_#{@room.id}_rolls", src: room_rolls_path(@room), loading: :lazy do %>
        <%= render "shared/skeleton" %>
      <% end %>
    </div>
  <% end %>
</div>
<%= turbo_frame_tag "room_#{@room.id}_room_resources", src: room_room_resources_path(@room), loading: :lazy do %>
  <%= render "shared/skeleton" %>
<% end %>

<%= turbo_frame_tag "room_#{@room.id}_rolls_new", src: new_room_roll_path(@room), loading: :lazy do %>
  <%= render "shared/skeleton" %>
<% end %>

