<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<h1>Playing <%= @room.game.name %></h1>

<h3>Resources</h3>

<% @resources_by_group.each do |group_name, resources| %>
  <div>
    <h3><%= group_name %></h3>
    <div class="flex gap-2 my-2">
      <% resources.each do |user_resource| %>
        <div data-controller="user-room-resource" id="resource-<%= user_resource.id %>" class="border-2 border-slate-500 rounded-md p-2">
          <data data-user-room-resource-target="id" id="<%= user_resource.id %>"></data>
          <p><%= user_resource.resource.name %>: <span data-user-room-resource-target="output"><%= user_resource.ammount %></span></p>
          <button data-action="click->user-room-resource#decrement" class="text-2xl inline-block text-white border-2 border-red-600 rounded-md px-2 bg-red-500">-1</button>
          <button data-action="click->user-room-resource#increment" class="text-2xl inline-block text-white border-2 border-green-600 rounded-md px-2 bg-green-500">+1</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>



<div class="flex gap-2 flex-wrap">
  <% @dice.each do |die| %>
    <div data-controller="toggle" id="<%= die.id %>" class="border-2 border-slate-500 rounded-md p-2">
      <h2><%= die.name %> <button data-toggle-target="button" data-action="click->toggle#toggle" class="bg-slate-200 p-2 rounded-md">Toggle</button></h2>
      <div data-toggle-target="content" class="flex gap-2 flex-wrap hidden">
        <% @roll_options.each do |number| %>
          <%= button_to number, roll_dice_path(@room, die, number), method: :post, class: "btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= button_to "archive rolls", archive_rolls_path(@room), method: :post, class: "btn" %>

<div class="grid grid-cols-1 gap-2 md:grid-cols-2">
  <div class="border-2 border-slate-500 rounded-md p-2">
    <h2>Roll summary</h2>
    <% @roll_summary.each do |key, value| %>
      <p class="odd:bg-slate-200 px-2"><%= key %>: <%= value %></p>
    <% end %>
  </div>

  <div class="border-2 border-slate-500 rounded-md p-2">
    <% if @roll_results %>
      <h2>You Rolled...</h2>
      <% @roll_results.each do |result| %>
        <p class="odd:bg-slate-200 px-2"><%= result.face.name %></p>
      <% end %>
    <% end %>
  </div>
</div>
