<% content_for :head do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<h1>Playing <%= @room.game.name %></h1>

<% @dice.each do |die| %>
  <div class="border-2 border-slate-500">
    <h2><%= die.name %></h2>
    <% @roll_options.each do |number| %>
      <%= link_to number, roll_dice_path(@room, die, number), class: "btn" %>
    <% end %>
  </div>
<% end %>

<% if @roll_detail %>
<h2>You Rolled...</h2>
  <% @roll_detail.each do |key, value| %>
    <p><%= key %>: <%= value %></p>
  <% end %>
<% end %>
