<h1>Playing <%= @room.game.name %></h1>
<div>
  <button
    class="btn"
    type="button" 
    data-drawer-target="drawer-example" 
    data-drawer-show="drawer-example" 
    aria-controls="drawer-example"
  >
    Show roll log
  </button>
</div>
<% @resources_by_group.each do |group_name, resources| %>
  <div>
    <h3><%= group_name %></h3>
    <div class="flex gap-2">
      <% resources.each do |user_resource| %>
        <div data-controller="user-room-resource" id="resource-<%= user_resource.id %>">
          <data data-user-room-resource-target="id" id="<%= user_resource.id %>"></data>
          <button
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center items-center cursor-pointer"
            id="resource-button-<%= user_resource.resource.id %>"
            data-dropdown-toggle="dropdown-<%= user_resource.id %>"
          >
            <%= user_resource.resource.name %>: <span data-user-room-resource-target="output"><%= user_resource.ammount %></span>
            <svg 
              class="w-4 h-4 ml-2 inline" 
              aria-hidden="true" 
              fill="none" 
              stroke="currentColor" 
              viewBox="0 0 24 24" 
              xmlns="http://www.w3.org/2000/svg"
            >
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div id="dropdown-<%= user_resource.id %>" class="hidden bg-slate-500 p-4 pt-2 rounded-md">
            <button data-action="click->user-room-resource#decrement" class="text-2xl inline-block text-white border-2 border-red-600 rounded-md px-2 bg-red-500">-1</button>
            <button data-action="click->user-room-resource#increment" class="text-2xl inline-block text-white border-2 border-green-600 rounded-md px-2 bg-green-500">+1</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<h3 class="my-4">
  Dice
</h3>
<!-- drawer init and toggle -->

<div class="flex gap-2 flex-wrap">
  <% @dice.each do |die| %>
    <div id="<%= die.id %>">
      <button 
        id="die-button-<%= die.id %>"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center cursor-pointer"
        data-dropdown-toggle="dropdown-dice-<%= die.id %>"
      >
        <%= die.name %>
        <svg 
          class="w-4 h-4 ml-2 inline" 
          aria-hidden="true" 
          fill="none" 
          stroke="currentColor" 
          viewBox="0 0 24 24" 
          xmlns="http://www.w3.org/2000/svg"
        >
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
        </svg>
      </button>
      <div id="dropdown-dice-<%= die.id %>" class="flex gap-2 flex-wrap hidden bg-slate-500 p-4 rounded-md">
        <% @roll_options.each do |number| %>
          <%= button_to number, roll_dice_path(@room, die, number), method: :post, class: "btn" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- drawer component -->
<div id="drawer-example" class="border-r-2 border-black fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80" tabindex="-1" aria-labelledby="drawer-label">
  <h5 id="drawer-label" class="inline-flex items-center mb-4 text-base font-semibold text-gray-500">Roll Log</h5>
  <button type="button" data-drawer-hide="drawer-example" aria-controls="drawer-example" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center" >
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Close menu</span>
  </button>
  <div>
    <%= button_to "archive rolls", archive_rolls_path(@room), method: :post, class: "btn mb-2" %>
    <h5 class="text-lg">Summary</h5>
    <% @roll_summary.each do |key, value| %>
      <p class="odd:bg-slate-200 px-2"><%= key %>: <%= value %></p>
    <% end %>
    <h5 class="text-lg border-t-2 border-black mt-2">All rolls</h5>
    <% @roll_results.each do |result| %>
      <p class="odd:bg-slate-200 px-2"><%= result.face.name %></p>
    <% end %>
  </div>
</div>
