<h1>Playing <%= @room.game.name %></h1>
<% if can? :manage, @room %>
  <div class="flex">
    <%= render LinkButtonComponent.new text: "Manage room", href: room_path(@room) %>
  </div>
<% end %>
<%= turbo_stream_from "room-#{@room.id}" %>
<%= render "resources", resources_by_group: @resources_by_group %>
<%= render "dice", dice: @dice, roll_options: @roll_options %>
<%= turbo_frame_tag "rolls", class: "fixed flex flex-col gap-4 right-5 bottom-5" %>
<div>
  <% @other_players_resources.each do |user, resources| %>
    <h1><%= user.username %>'s resources</h1>
    <% resources.each do |resource| %>
      <%= render "resource", resource: resource %>
    <% end %>
  <% end %>
</div>
