<%= turbo_frame_tag game do %>
<div id="<%= dom_id game %>">
  <p class="my-5">
    <%= render LinkComponent.new text: game.name, url: game_path(game), data: { turbo_frame: "_top" } %>
  </p>

  <%= button_to "Delete", game_path(game), method: :delete, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to 'Edit', edit_game_path(game), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
  <hr class="mt-6">
</div>
<% end %>
