<div id="<%= dom_id game %>">
  <h3 class="text-2xl mt-4"><%= game.name %></h3>
  <p>
    created by player <%= game.created_by.username %>
  </p>
  <div class="flex flex-wrap">
    <%= link_to 'Start Room', new_game_room_path(game), class: "btn-light" %>
    <%= link_to 'Dice', game_dice_path(game), class: "btn-light" %>
    <%= link_to 'Resources', game_resources_path(game), class: "btn-light" %>
    <%= link_to 'Resource Groups', game_resource_groups_path(game), class: "btn-light" %>
    <% if can? :manage, game %>
      <%= link_to 'Edit this game', edit_game_path(game), class: "btn-light" %>
      <%= button_to 'Delete', game, method: :delete, class: "btn-red", form_class: "inline" %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
