<div id="<%= dom_id game %>">
  <h3 class="text-2xl mt-4"><%= game.name %></h3>
  <p>
    created by player <%= game.created_by.username %>
  </p>
  <div class="flex flex-wrap">
    <%= render LinkButtonComponent.new text: 'Start Room', href: new_game_room_path(game) %>
    <%= render LinkButtonComponent.new text: 'Dice', href: game_dice_path(game) %>
    <%= render LinkButtonComponent.new text: 'Resources', href: game_resources_path(game) %>
    <%= render LinkButtonComponent.new text: 'Resource Groups', href: game_resource_groups_path(game) %>
    <% if can? :manage, game %>
      <%= render LinkButtonComponent.new text: 'Edit this game', href: edit_game_path(game) %>
      <%= render "shared/delete_button", text: 'Delete', path: game %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
