<div id="<%= dom_id game %>">
  <h3 class="text-2xl mt-4"><%= game.name %></h3>
  <p>
    created by player <%= game.created_by.username %>
  </p>
  <div class="flex gap-2">

  <%= render "shared/link_button", text: 'Rooms', path: game_rooms_path(game) %>
  <%= render "shared/link_button", text: 'Dice', path: game_dice_path(game) %>
  <%= render "shared/link_button", text: 'Resources', path: game_resources_path(game) %>
  <%= render "shared/link_button", text: 'Resource Groups', path: game_resource_groups_path(game) %>
  <% if can? :manage, game %>
    <%= render "shared/link_button", text: 'Edit this game', path: edit_game_path(game) %>
    <%= render "shared/delete_button", text: 'Delete', path: game %>
  <% end %>

  </div>
  <hr class="mt-6">
</div>
