<div class="min-w-full">
    <%= link_to "Back to games", games_path, class: "btn-primary" %>
    
    <%= render game %>

    <h2>Dice for <%= game.name %></h2>
    <%= link_to "Manage Dice", game_dice_path(game), class: "link" %>

    <h2>Rooms for <%= game.name %></h2>
    <% game_rooms.each do |room| %>
      <div class="border-2 rounded-lg p-2 inline-block">
          <%= link_to room.name, room_path(room), class: "link" %>
      </div>
    <% end %>
    <%= link_to "Create new room", new_game_room_path(game), class: "btn-primary" %>
</div>
