<div class="mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="box">
      <h2 class="text-xl font-medium text-gray-900">Log in</h2>
      <div class="my-2">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-text" %>
      </div>

      <div class="my-2">
        <%= f.label :password, class: "label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "input-text" %>
      </div>

      <% if devise_mapping.rememberable? %>
      <div class="my-2">
          <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300" %>
          <%= f.label :remember_me, class: "ml-2 text-sm font-medium text-gray-900" %>
      </div>
      <% end %>

      <div>
        <%= f.submit "Log In", class: "btn-primary" %>
      </div>
  <% end %>

  <div class="mt-2">
      <%= render "devise/shared/links" %>
  </div>
  <div class="flex flex-col gap-2">
</div>
