<%= form_with(model: [game, resource], class: "contents") do |form| %>
  <% if resource.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= render "shared/text_field", f: form, field: :name %>
  </div>

  <div class="my-5">
    <%= form.label :resource_group, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
    <%= form.select :resource_group_id, resource_group_options, {}, {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
  </div>

  <div class="my-5">
    <%= render "shared/number_field", f: form, field: :min %>
  </div>

  <div class="my-5">
    <%= render "shared/number_field", f: form, field: :max %>
  </div>

  <div class="inline">
    <%= form.submit "Save", class: "btn-primary" %>
  </div>
<% end %>
