<div id="<%= dom_id resource %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= resource.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= resource.resource_group&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Min:</strong>
    <%= resource.min %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max:</strong>
    <%= resource.max %>
  </p>

  <% if action_name != "show" %>
    <%= render "shared/link_button", text: "Show this resource", path: resource %>
    <% if can? :manage, resource %>
      <%= render "shared/link_button", text: 'Edit this resource', path: edit_resource_path(resource) %>
      <%= render "shared/delete_button", text: "Delete", path: resource %>
    <% end %>

    <hr class="mt-6">
  <% end %>
</div>
