<div id="<%= dom_id resource %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= resource.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= resource.resource_group&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Min:</strong>
    <%= resource.min %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max:</strong>
    <%= resource.max %>
  </p>
  <div class="flex flex-wrap">
    <%= render LinkButtonComponent.new text: "Show this resource", href: resource %>
    <% if can? :manage, resource %>
      <%= render LinkButtonComponent.new text: 'Edit this resource', href: edit_resource_path(resource) %>
      <%= render DeleteButtonComponent.new text: "Delete", href: resource %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
