<div id="<%= dom_id resource %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= resource.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Group:</strong>
    <%= resource.resource_group&.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Min:</strong>
    <%= resource.min %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max:</strong>
    <%= resource.max %>
  </p>
  <div class="flex flex-wrap">
    <%= link_to "Show this resource", resource, class: "btn-light" %>
    <% if can? :manage, resource %>
      <%= link_to 'Edit this resource', edit_resource_path(resource), class: "btn-light" %>
      <%= button_to 'Delete', resource, method: :delete, class: "btn-red", form_class: "inline" %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
