<div class="flex flex-col gap-2">
  <h1><%= @room.name %></h1>
  <p class="bg-slate-200 rounded-md p-4"><%= find_room_url(@room.join_code) %></p>
  <div class="flex flex-wrap">
    <%= link_to 'Edit this room', edit_room_path(@room), class: "btn-light" %>
    <%= link_to "Play!", room_play_url(@room), class: "btn-light" %>
    <%= button_to 'Delete', room_path(@room), method: :delete, class: "btn-red", form_class: "inline" %>
  </div>
</div>
