<div id="<%= dom_id face %>">

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= face.name %>: <%= face.count %></strong>
  </p>

  <div class="flex flex-wrap">
    <%= render "shared/link_button", text: "Show this face", path: face %>
    <% if can? :manage, face %>
      <%= render "shared/link_button", text: 'Edit this face', path: edit_face_path(face) %>  
      <%= render "shared/delete_button", text: "Delete", path: face %>
    <% end %>
  </div>
  <hr class="mt-6">
</div>
