<div id="<%= dom_id face %>">

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= face.name %>: <%= face.count %></strong>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this face", face, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% if can? :manage, face %>
      <%= link_to 'Edit this face', edit_face_path(face), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>  
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
