<div id="<%= dom_id face %>">

  <p class="my-5">
    <strong class="block font-medium mb-1"><%= face.name %>: <%= face.count %></strong>
  </p>

  <% if action_name != "show" %>
    <%= render "shared/link_button", text: "Show this face", path: face %>
    <% if can? :manage, face %>
      <%= render "shared/link_button", text: 'Edit this face', path: edit_face_path(face) %>  
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
