<!DOCTYPE html>
<html>
  <head>
    <title>Code</title>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="dark:bg-gray-900 dark:text-white touch-manipulation">
    <%= render "layouts/navbar" %>
    <main class="container mx-auto mt-6 px-5 flex flex-col gap-2">
      <div id="flash" class="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
